<!DOCTYPE HTML>

<html>
	<head>
		<title>Page? Maybe?</title>
    <style>
      body {
        max-width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
      p, form {
        font-size: 20px;
        margin-top: 20px;
      }
      img {
        width: 300px;
        margin: 10px;
      }
      p span {
        color: blue;
      }
    </style>
	</head>
	<body>
		<p>{{sido_name}} {{gugun_name}}의 {{spot_nm}}에서 교통사고가 {{occrrnc_cnt}}번 났어요</p>
		<!-- <br />
		<img src="https://http.cat/{{code}}">
		<br /> -->
		<!-- <form action="/user">
			<input type="text" placeholder="username" name="username"></input>
			<input type="submit" value="go to your shelter"></input>
		</form> -->
	</body>
</html>